* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tourney", cursive;
  /* border: 1px solid red; */
}

:root {
  --background-color: #202723;
  --primary-color: #df52e3;
  --secondary-color: #8da0a4;
  /* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Tourney', cursive; */
}

body {
  background-color: var(--background-color) !important;
  min-width: 420px;
  /*
  em proporcional a fonte da página
  vh proporcional a altura
  vw proporcional a largura
  */
}
nav {
  font-size: 20px;
}
#principal-container {
  margin-top: 50px;
  display: flex;
  align-items: center; /*horizontal*/
  font-size: 20px;
  justify-content: center; /*vertical*/
  padding: 3em;
  min-width: 400px;
}
#calculator {
  margin: auto;
  width: 500px;
  padding: 0.5em;
  background-color: var(--primary-color);
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: 0.2em;
}

#calculator h2 {
  font-size: 0.8em;
  font-weight: 400;
  color: #000;
}
#operations {
  text-align: right;
}

#last-operation {
  color: rgb(52, 52, 52);
  overflow-wrap: break-word;
  padding: 0.2em;
  min-height: 1.7em;
}
#current-operation {
  overflow-wrap: break-word;
  padding: 0.2em;
  min-height: 1.7em;
  font-size: 3em;
  font-weight: 800;
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
#buttons-container button {
  border: #202723 solid 1px;
  background-color: #fa67b9;
  border-radius: 0.6em;
  height: 3em;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
}

#buttons-container button:hover {
  background-color: #fd705b;
  border-color: #01483c;
}

#buttons-container .zero-btn {
  grid-column: span 2;
}

#buttons-container .number {
  background-color: #b4b4b4;
}

#buttons-container #equal-btn {
  background-color: #fa079d;
}
#buttons-container .dot {
  background-color: #fa079d;
}
#buttons-container .simbol {
  font-weight: bold;
}
